@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900');
@font-face {
  font-family: 'BauerBodoniStd-Roman';
  src: url('../fonts/BauerBodoniStd-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/BauerBodoniStd-Roman.otf')  format('opentype'),
	     url('BauerBodoniStd-Roman.woff') format('woff'), url('../fonts/BauerBodoniStd-Roman.ttf')  format('truetype'), url('../fonts/BauerBodoniStd-Roman.svg#BauerBodoniStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MonotypeCorsiva';
  src: url('../fonts/MonotypeCorsiva.eot?#iefix') format('embedded-opentype'),  url('../fonts/MonotypeCorsiva.woff') format('woff'), url('../fonts/MonotypeCorsiva.ttf')  format('truetype'), url('../fonts/MonotypeCorsiva.svg#MonotypeCorsiva') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face{font-family:'gotham_mediumregular';src:url('../fonts/gotham-medium-webfont.eot');src:url('../fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/gotham-medium-webfont.woff2') format('woff2'),url('../fonts/gotham-medium-webfont.woff') format('woff'),url('../fonts/gotham-medium-webfont.ttf') format('truetype'),url('../fonts/gotham-medium-webfont.svg#gotham_mediumregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'pt_sansbold';src:url('../fonts/pts75f-webfont.eot');src:url('../fonts/pts75f-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/pts75f-webfont.woff2') format('woff2'),url('../fonts/pts75f-webfont.woff') format('woff'),url('../fonts/pts75f-webfont.ttf') format('truetype'),url('../fonts/pts75f-webfont.svg#pt_sansbold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'loraregular';src:url('../fonts/lora-regular-webfont.eot');src:url('../fonts/lora-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/lora-regular-webfont.woff2') format('woff2'),url('../fonts/lora-regular-webfont.woff') format('woff'),url('../fonts/lora-regular-webfont.ttf') format('truetype'),url('../fonts/lora-regular-webfont.svg#loraregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'lorabold';src:url('../fonts/lora-bold-webfont.eot');src:url('../fonts/lora-bold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/lora-bold-webfont.woff2') format('woff2'),url('../fonts/lora-bold-webfont.woff') format('woff'),url('../fonts/lora-bold-webfont.ttf') format('truetype'),url('../fonts/lora-bold-webfont.svg#lorabold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'loraitalic';src:url('../fonts/lora-italic-webfont.eot');src:url('../fonts/lora-italic-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/lora-italic-webfont.woff2') format('woff2'),url('../fonts/lora-italic-webfont.woff') format('woff'),url('../fonts/lora-italic-webfont.ttf') format('truetype'),url('../fonts/lora-italic-webfont.svg#loraitalic') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'PTSans-Caption';src:url('../fonts/PTSans-Caption.eot?#iefix') format('embedded-opentype'),url('../fonts/PTSans-Caption.woff') format('woff'),url('../fonts/PTSans-Caption.ttf')  format('truetype'),url('../fonts/PTSans-Caption.svg#PTSans-Caption') format('svg');font-weight:normal;font-style:normal;}

/* ripple effect */
.ripple{position:relative;overflow:hidden}
.ripple:after{content:"";background:rgba(255,255,255,0.3);display:block;position:absolute;border-radius:50%;padding-top:240%;padding-left:240%;margin-top:-120%;margin-left:-120%;opacity:0;transition:all 1s}
.ripple:active:after{padding-top:0;padding-left:0;margin-top:0;margin-left:0;opacity:1;transition:0s}
.ripple{position:relative;overflow:hidden;}
.ripple:after{content:"";background:rgba(255,255,255,0.3);display:block;position:absolute;border-radius:50%;padding-top:240%;padding-left:240%;margin-top:-120%;margin-left:-120%;opacity:0;transition:all 1s;}
.ripple:active:after{padding-top:0;padding-left:0;margin-top:0;margin-left:0;opacity:1;transition:0s;}
a:hover {
    color: #bc9e67;
}
a i {
    color: #bc9e67;
}
.btn.btn-primary.btnnestep{background-color: #bc9e67;
    box-shadow: 0 4px 0 #9a783b;}
/* ripple effect */
.left_right_dash.chklist .task {
    border-top: 1px solid #e1e1e1;
}
.layout-simple-extendeds {
    background-color: #f9f9f9;
}
.btn.btn-primary.btn.adminbtn {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    padding: 13px 27px;
    border-radius: 3px;
	background: #bc9e67;
    box-shadow: 0 4px 0 #9a783b;
    color: #FFF;
    display: inline-block;
    cursor: pointer
}
.color-link {
    color: #bc9e67 !important;
    text-decoration: none;
}
.btn.btn-primary.btn.adminbtn:hover {
    color: #FFF;
    background: #bc9e67;
	opacity:0.7;
}
.layout-simple-extendeds .wrapper {
    max-width: 860px;
    margin: 0 auto;
    padding:15px 0 0;
}
.layout-simple-extendeds .wrapper .pure-u-4-10{width:39%;}
.layout-simple-extendeds .wrapper .pure-u-1-4{width:24%;}
.layout-simple-extendeds .wrapper .pure-g{display:block;}
a:hover{text-decoration:none;}
body{background-color:#fff;}
.wrapper{max-width:inherit;padding:0px;border-radius:0px;}
.headerfull{background-color:#181818;}
.data_block img{width:600px;max-height:405px;overflow:hidden;}
.data_three img{width:300px;max-height:200px;overflow:hidden;margin-bottom:5px;}
.data_three{padding:0 0 0 5px;}
.wsmenu-list > li > a{font-family:'gotham_mediumregular';font-size:14px;color:#fff;text-transform:uppercase;padding:0 10px;border-right:none;}
.logo{background-image:url(../images/sprite.png);background-repeat:no-repeat;width:240px;height:65px;display:block;background-position:-13px -7px;}
.smllogo{padding:5px 0px 0px 0px;}
.data_block{padding-right:0px;}
.headtoppart{background:#fff;}
.address a{color:#181818;font-family:'pt_sansbold';font-size:14px;padding:0px 5px;text-transform:uppercase;}
.headertopright a{color:#bc9e67;font-family:'pt_sansbold';font-size:14px;padding:0px 5px;text-transform:uppercase;}
.headertopright{padding-right:50px;}
.headertopright a.facebookicon:hover,.headertopright a.twittericon:hover,.headertopright a.linkedinicon:hover{background-color:transparent;color:inherit;}
.hvr-overline-from-center:before{background:#bc9e67;}
.hvr-overline-from-center:hover{color:#bc9e67;}
.overlay_text{bottom:5px;left:5%;margin:0 auto;position:absolute;width:90%;}
.test_vous_icon{margin:0 15px 0px 0px;background-image:url(../images/sprite.png);background-repeat:no-repeat;width:52px;height:50px;display:inline-block;background-position:-317px -90px;float:left;}
.test_vous_icon_pl{margin:0 15px 0px 0px;background-image:url(../images/sprite.png);background-repeat:no-repeat;width:52px;height:50px;display:inline-block;background-position:-506px -90px;float:left;}
.test_vous_icon_one{margin:0 15px 0px 0px;background-image:url(../images/sprite.png);background-repeat:no-repeat;width:52px;height:50px;display:inline-block;background-position:-254px -90px;float:left;}
.overlay_text > span{background:#000;display:inline-block;padding:0px 10px;width:auto;margin:5px 0;font-family:'Source Sans Pro',sans-serif;font-size:12px;line-height:22px;color:#bc9e67;}
.overlay_text small{display:block;}
.ovrly{width:90%;margin:0 auto;position:absolute;bottom:0;left:5%;}
.ovrly .media-list.main-list h4.media-heading{font-family:'loraitalic';font-size:21.2px;line-height:24px;color:#fff;margin:0 0 10px;}
.ovrly .media-list.main-list{margin:0px;padding-bottom:0px;}
.ovrly .media-list.main-list .media{padding-bottom:0px;}
.ovrly .media-list.main-list small{font-family:'loraitalic';font-size:12px;line-height:22px;color:#fff;}
.newsbtn{font-family:'lorabold';font-size:13px;line-height:26px;color:#fff;text-align:center;background-color:#bc9e67;padding:10px 15px;margin:20px auto;display:block;width:70%;border:none;border-radius:0px;}
.aarrow{margin:0 0px 0px 0px;background-image:url(../images/sprite.png);background-repeat:no-repeat;width:205px;height:39px;display:block;background-position:-10px -78px;margin:0 auto;}
.plannifier{background-color:#fff;}
.plannifier h6{color:#475d68;font-family:'PTSans-Caption';font-size:12px;line-height:18px;text-transform:uppercase;text-align:center;}
.plannifier h2{color:#bc9e67;font-family:'Source Sans Pro',sans-serif;font-size:42px;font-weight:300;margin-bottom:30px;padding:0 0 0 5px;}
.plannifier h2 span{color:#333333;display:block;}
.plannifier h6.active{color:#bc9e67;}
.list_1{background-image:url(../images/sprite.png);background-repeat:no-repeat;width:94px;height:75px;display:block;background-position:-238px -7px;margin:0 auto;}
.btn-dem{color:#fff;font-family:'PTSans-Caption';font-size:13px;line-height:18px;text-transform:capitalize;text-align:center;background-color:#bc9e67;border:none;border-radius:0px;padding:10px 35px;margin:20px 0;}
.btn-dem:hover{background:#bc9e67;opacity:0.9;color:#fff;}
.list_2{background-image:url(../images/sprite.png);background-repeat:no-repeat;width:85px;height:75px;display:block;background-position:-331px -10px;margin:0 auto;}
.list_3{background-image:url(../images/sprite.png);background-repeat:no-repeat;width:85px;height:75px;display:block;background-position:-420px 8px;margin:0 auto;}
.list_4{background-image:url(../images/sprite.png);background-repeat:no-repeat;width:89px;height:75px;display:block;background-position:-414px -68px;margin:0 auto;}
.newsletter{border:solid 1px #000;padding:0 0 15px 0;}
.bootstrap-select > .dropdown-toggle{width:100%;padding-right:0px;z-index:1;border:none;border-radius:0px;padding:11px 15px;}
.ovrly_form{position:absolute;bottom:0;background:rgba(0,0,0,0.4);width:100%;padding:30px 0px;}
.plannifier ul{padding:0px;margin:10px 0 20px;overflow:hidden;}
.plannifier ul li{list-style:none;float:left;padding:0 10px;}
.btnbanner{width:100%;text-align:center;color:#fff;font-family:'Source Sans Pro',sans-serif;font-size:15px;line-height:30px;font-weight:400;border:none;border-radius:0px;background:#bc9e67;}
.btnbanner:hover{background:#bc9e67;opacity:0.9;color:#fff;}
.newsbtn:hover{background-color:#bc9e67;opacity:0.9;color:#fff;}
.ovrly .media-list.main-list .media-body{padding:10px 0px;}
.coup_de_coeur .thumbnail{background-color:#fff;}
.card-1{transition:all 0.3s cubic-bezier(.25,.8,.25,1);}
.card-1:hover{box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);}
.thumbnail{background:transparent;border:none;}
footer{background:#000;}
.nos_expert_img{display:block;margin:0 auto;}
.thumb{display:block;width:100%;margin:0;}
.featured-article{margin-bottom:10px;}
.featured-article .block-title h2{margin:0;}
.main-list{padding-left:.5em;}
.nrpdg{padding-right:0px;}
.serviceBox .media img{width:inherit;}
.main-list .media{padding-bottom:5px;margin-top:0px;}
footer p{font-family:'loraregular';font-size:14px;color:#fff;margin:10px 0px;}
.nos_expert{background-size:100% 100%;background-attachment:fixed;padding:50px 0px;}
.parole_aux_maries,.coup_de_coeur{background-color:#000;padding:20px 0px;}
.serviceBox{padding:0px;overflow:hidden;position:relative;transition:all 0.3s ease-in-out 0s;}
.serviceBox:after{content:"";display:block;border-top:500px solid #fff;border-left:500px solid transparent;margin-top:-55%;margin-left:100%;opacity:0;position:absolute;transform:scale(2);transition:all 0.3s ease-in-out 0s;}
.media-list.main-list h4.media-heading{color:#444444;font-family:'Source Sans Pro',sans-serif;font-size:14px;font-weight:600;margin-top:0px;line-height:16px;}
.media-list.main-list .by-author{color:#444444;font-family:'Source Sans Pro',sans-serif;font-size:12px;font-weight:400;margin-top:2px;line-height:16px;}
.idees_et_conseils .block-title h2{font-family:'Source Sans Pro',sans-serif;color:#444444;font-size:24px;font-weight:300;margin-top:5px;}
.idees_et_conseils .block-title h2 span{font-weight:700;}
.idees_et_conseils .block-title .by-author{color:#7c7c7;font-family:'Source Sans Pro',sans-serif;font-weight:700;text-transform:uppercase;font-style:normal;letter-spacing:1px;margin:0px;}
.idees_et_conseils .block-title .by-author_{color:#1f1f1f;font-family:'Source Sans Pro',sans-serif;font-weight:300;}
.idees_et_conseils .block-title .by-authorc small{font-style:normal;}
.teste_vous h3{font-family:'Source Sans Pro',sans-serif;color:#000;font-size:37px;line-height:1.7;margin-bottom:0px;font-weight:300;margin-top:0px;}
.teste_vous h5{font-family:'Source Sans Pro',sans-serif;color:#454545;font-size:10px;line-height:inherit;margin-bottom:0px;font-weight:700;text-align:right;padding-right:5px;position:relative;top:25px;letter-spacing:1px;}
.teste_vous h3 span{color:#bc9e67;}
.teste_vous .caption,.articles_less .caption{padding:0px;}
.teste_vous .caption h4{color:#444444;font-family:'Source Sans Pro',sans-serif;font-weight:300;font-size:24px;margin:5px 0px;}
.teste_vous .caption p{color:#c7c7c7;font-family:'Source Sans Pro',sans-serif;font-weight:700;font-size:10px;margin:0px 0px 5px;letter-spacing:1px;}
.articles_less h3{font-family:'Source Sans Pro',sans-serif;color:#000;font-size:37px;line-height:1.7;margin-bottom:0px;font-weight:300;margin-top:0px;}
.articles_less h5{font-family:'Source Sans Pro',sans-serif;color:#454545;font-size:10px;line-height:inherit;margin-bottom:0px;font-weight:700;text-align:right;padding-right:5px;position:relative;top:25px;letter-spacing:1px;}

.articles_less h3 span{color:#bc9e67;}
.parole_aux h3{font-family:'Source Sans Pro',sans-serif;color:#000;font-size:37px;line-height:1.7;margin-bottom:0px;font-weight:300;margin-top:0px;}
.parole_aux h5{font-family:'Source Sans Pro',sans-serif;color:#454545;font-size:10px;line-height:inherit;margin-bottom:0px;font-weight:700;text-align:right;padding-right:5px;position:relative;top:25px;letter-spacing:1px;}
.parole_aux h3 span{color:#bc9e67;}
.parole_aux{padding:0 0 50px;}
.parole_aux_maries .caption{padding:0px;}
.parole_aux_maries .caption h4{text-align:center;font-size:18px;color:#fff;font-family:'lorabold';}
.idees_et_conseils{padding:30px 0px;}
.idees_et_conseils h3{font-family:'Source Sans Pro',sans-serif;color:#000;font-size:37px;line-height:1.7;margin-bottom:0px;font-weight:300;margin-top:0px;}
.idees_et_conseils h5{font-family:'Source Sans Pro',sans-serif;color:#454545;font-size:10px;line-height:inherit;margin-bottom:0px;font-weight:700;text-align:right;padding-right:5px;position:relative;top:25px;letter-spacing:1px;}
.idees_et_conseils h3 span{color:#bc9e67;}
.bottom_patter{margin:0px auto;background-image:url(../images/sprite.png);background-repeat:no-repeat;width:90px;height:15px;background-position:-567px -90px;display:block;}
.test_vous_icon_aux_parol{margin:0 15px 0px 0px;background-image:url(../images/sprite.png);background-repeat:no-repeat;width:60px;height:60px;display:inline-block;background-position:-707px -2px;float:left;}
.test_vous_icon_rgt{margin:0 0px 0px 0px;background-image:url(../images/sprite.png);background-repeat:no-repeat;width:58px;height:58px;display:inline-block;background-position:-648px -2px;float:right;position:relative;top:15px;}
.test_vous_icon_hrt{margin:0 10px 0px 0px;background-image:url(../images/sprite.png);background-repeat:no-repeat;width:70px;height:65px;display:inline-block;background-position:-578px -15px;float:left;}
.test_vous_icon_hrtarr{margin:0 10px 0px 0px;background-image:url(../images/sprite.png);background-repeat:no-repeat;width:70px;height:65px;display:inline-block;background-position:-497px -5px;float:left;}
.test_vous_icon_hrtarr_ic{margin:0 0px 0px 0px;background-image:url(../images/sprite.png);background-repeat:no-repeat;width:20px;height:20px;display:inline-block;background-position:-380px -90px;float:left;position:absolute;right:5px;top:5px;}
.coup_de_coeur .thumbnail{background:#f7f7f7;padding:0px;border-radius:0px;position:relative;}
.coup_de_coeur .thumbnail .caption{padding:0px;}
.coup_de_coeur .thumbnail p{color:#777777;font-size:9px;font-family:'Source Sans Pro',sans-serif;font-weight:600;border-bottom:solid 2px #efefef;padding-bottom:15px;padding:0 10px 15px;}
.coup_de_coeur .thumbnail h4{padding:0 10px;color:#333333;font-size:18px;font-family:'Source Sans Pro',sans-serif;font-weight:600;margin:5px 0px;}
.coup_de_coeur .caption span.rs{padding:0 10px;color:#333333;font-size:21px;font-family:'Source Sans Pro',sans-serif;font-weight:400;margin:5px 0px;float:right}
.coup_de_coeur .caption a{padding:0 10px;color:#bc9e67;font-size:13px;font-family:'Source Sans Pro',sans-serif;font-weight:400;margin:5px 0px;float:left;line-height:30px;}
.conseils_des{padding:30px 0px;}
.test_vous_icon_aux{margin:0 15px 0px 0px;background-image:url(../images/sprite.png);background-repeat:no-repeat;width:52px;height:50px;display:inline-block;background-position:-254px -90px;float:left;}
.articles_less .caption h4{color:#333333;font-family:'lorabold';font-size:17px;margin:15px 0 5px;}
.articles_less .caption a{color:#bc9e67;font-family:'loraregular';font-size:12px;}
.articles_less .caption p{color:#777777;font-family:'gotham_mediumregular';font-size:11px;margin:0px 0 10px;border-bottom:solid 1px #f6f6f6;padding-bottom:10px;}
.borderbtm{border-bottom:solid 1px #a8a8a8;margin:0 20px 20px;}
.serviceBox:hover:after{margin-left:0;opacity:0.1;}
.parole_aux h4.media-heading{color:#000;font-size:17px;font-family:'Source Sans Pro',sans-serif;font-weight:400;text-transform:uppercase;margin:0px;}
.parole_aux .media-body span{color:#bc9e67;font-size:13px;font-family:'Source Sans Pro',sans-serif;font-weight:400;text-transform:capitalize;}
.parole_aux .media-body p{color:#444444;font-size:12px;font-family:'Source Sans Pro',sans-serif;font-weight:400;text-transform:capitalize;line-height:20px;}
.parl_txt h5{color:#bc9e67;font-family:'Source Sans Pro',sans-serif;font-size:14px;font-weight:400;width:75%;float:left;display:inline-block;position:relative;top:30px;text-align:right;}
.nos_expert h2{font-family:'Source Sans Pro',sans-serif;font-size:37px;color:#fff;font-weight:300;}
.nos_expert h4{font-family:'Source Sans Pro',sans-serif;font-size:21px;color:#fff;font-weight:600;text-align:center;}
.nos_expert h2 span{font-weight:600;}
.right_log{background-color:rgba(0,0,0,0.7);/*height:calc(100vh - 40px);*/}
.main_box{height:100vh;position:relative;}
.parole_aux_maries h3{color:#fff;font-family:'Source Sans Pro',sans-serif;font-size:37px;font-weight:400;}
.coup_de_coeur h3{color:#fff;font-family:'Source Sans Pro',sans-serif;font-size:37px;font-weight:400;}
.tsmall{display:block;color:#bc9e67;font-family:'Source Sans Pro',sans-serif;font-weight:400;font-size:15px;}
.data_three small{font-family:'loraitalic';font-size:12px;line-height:22px;color:#fff;}
.data_three h4{font-family:'loraitalic';font-size:21.2px;line-height:24px;color:#fff;margin:0 0 10px;}
.couple{background-image:url(images/couple.jpg);background-repeat:no-repeat;background-size:cover;/*height:calc(100vh - 40px);*/background-position:-45px 0px;}
.lginlogo{margin:10px auto;}
.right_log h2{font-family:'gotham_mediumregular';text-align:center;font-size:20px;color:#fff;}
.right_log p.login_action{text-align:center;font-family:'Source Sans Pro',sans-serif;font-size:16px;color:#fff;font-weight:300;}
.right_log p a{color:#bc9e67;font-weight:600;}
.login-or{position:relative;font-size:18px;color:#fff;margin-top:20px;margin-bottom:30px;padding-top:10px;padding-bottom:10px;}
.span-or{display:block;position:absolute;left:50%;top:-4px;margin-left:-25px;background-color:#bc9e67;width:30px;text-align:center;border-radius:50%;height:30px;color:#fff;font-size:14px;text-align:center;line-height:28px;font-weight:700;}
.hr-or{border-top:none;background-color:#bc9e67;height:3px;margin-top:0px!important;margin-bottom:0px!important;}
.loginBtn{box-sizing:border-box;position:relative;margin:0.2em;padding:0 15px 0 46px;border:none;text-align:left;line-height:34px;white-space:nowrap;border-radius:0.2em;font-size:16px;color:#FFF;display:block;margin:30px auto 50px;}
.loginBtn:before{content:"";box-sizing:border-box;position:absolute;top:0;left:0;width:34px;height:100%;}
.loginBtn:focus{outline:none;}
.loginBtn:active{box-shadow:inset 0 0 0 32px rgba(0,0,0,0.1);}
.loginBtn--facebook{background-color:#4C69BA;background-image:linear-gradient(#4C69BA,#3B55A0);text-shadow:0 -1px 0 #354C8C;}
.loginBtn--facebook:before{border-right:#364e92 1px solid;background:url('../images/icon_facebook.png') 6px 6px no-repeat;}
.loginBtn--facebook:hover,.loginBtn--facebook:focus{background-color:#5B7BD5;background-image:linear-gradient(#5B7BD5,#4864B1);}
.loginform .meteral:-webkit-input-placeholder{-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.loginform .meteral{margin:10px 0px;width:100%;display:block;border:solid 1px #bc9e67;padding:10px 0;border-bottom:solid 1px #bc9e67;-webkit-transition:all 0.3s cubic-bezier(0.64,0.09,0.08,1);transition:all 0.3s cubic-bezier(0.64,0.09,0.08,1);background:-webkit-linear-gradient(top,rgba(255,255,255,0) 96%,#bc9e67 4%);background:linear-gradient(to bottom,rgba(255,255,255,0) 96%,#bc9e67 4%);background-position:-1200px 0;background-size:100% 100%;background-repeat:no-repeat;color:#333;}
.loginform .meteral:focus{box-shadow:none;outline:none;background-position:0 0;}
.loginform .meteral:focus:-webkit-input-placeholder{color:#1abc9c;font-size:11px;-webkit-transform:translateY(-10px);transform:translateY(-10px);visibility:visible!important;}
.loginform .form-control{margin-bottom:25px;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;border:none;box-shadow:none;color:#fff;border-bottom:solid 1px #bc9e67;}
.loginform .form-control:focus{box-shadow:none;}
.loginform .form-control.meteral::-webkit-input-placeholder{color:#bc9e67;}
.loginform .form-control.meteral::-moz-placeholder{color:#bc9e67;}
.loginform .form-control.meteral:-ms-input-placeholder{color:#bc9e67;}
.loginform .form-control.meteral:-moz-placeholder{color:#bc9e67;}
.help-block.text-right a{color:#bc9e67;font-size:12px;font-family:'Source Sans Pro',sans-serif;font-weight:300;}
.btn_lgn{width:150px;text-align:center;color:#fff;font-family:'Source Sans Pro',sans-serif;font-size:16px;line-height:30px;font-weight:400;border:none;border-radius:0px;background:#bc9e67;margin:0 auto 20px;}
.btn_lgn:hover{background:#bc9e67;opacity:0.9;color:#fff;}
.form-group:nth-child(2) .form-control.meteral{margin-bottom:5px;}
.right_log p.login_action_r{text-align:left;font-family:'Source Sans Pro',sans-serif;font-size:16px;color:#fff;font-weight:300;}
.sub_main_box{padding:0px 0px;box-shadow:0px 0.1875rem 0.4375rem rgba(0,0,0,0.25);position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:100%;}
.sgnup .btn.dropdown-toggle.btn-default{background:transparent none repeat scroll 0 0;border-bottom:1px solid #bc9e67;color:#bc9e67;padding:11px 0;width:100%;margin-bottom:26px;}
.btn-group.bootstrap-select.sgnup{width:100%!important;}
.bootstrap-select.btn-group .dropdown-menu{width:100%;}
.cc-selector input{margin:0;padding:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.cc-selector-2 input{position:absolute;z-index:999;}
.visa{background-image:url(../images/bride.png);}
.mastercard{background-image:url(../images/groom.png);}
.cc-selector-2 input:active +.drinkcard-cc,.cc-selector input:active +.drinkcard-cc{opacity:.9;}
.cc-selector-2 input:checked +.drinkcard-cc,.cc-selector input:checked +.drinkcard-cc{-webkit-filter:none;-moz-filter:none;filter:none;}
.drinkcard-cc{cursor:pointer;margin-bottom:20px;background-size:contain;background-repeat:no-repeat;display:inline-block;width:26px;height:26px;-webkit-transition:all 100ms ease-in;-moz-transition:all 100ms ease-in;transition:all 100ms ease-in;-webkit-filter:brightness(1.8) grayscale(1) opacity(.7);-moz-filter:brightness(1.8) grayscale(1) opacity(.7);filter:brightness(1.8) grayscale(1) opacity(.7);}
.drinkcard-cc:hover{-webkit-filter:brightness(1.2) grayscale(.5) opacity(.9);-moz-filter:brightness(1.2) grayscale(.5) opacity(.9);filter:brightness(1.2) grayscale(.5) opacity(.9);}
.form.loginform label{float:left;padding:0 15px;color:#bc9e67;font-weight:400;font-family:'Source Sans Pro',sans-serif;font-size:16px;}
.selectbbn{position:relative;}

/* sub page*/
ul.list_sub_menu{list-style:none;padding:0px;margin:0px;}
ul.list_sub_menu li:first-child{border-left:solid 1px #e2e2e2;}
ul.list_sub_menu li:hover{background-color:#91d0d8;}
ul.list_sub_menu li.active{background-color:#91d0d8;}
ul.list_sub_menu li{border-right:solid 1px #e2e2e2;float:left;list-style:outside none none;padding:10px 15px;text-align:center;width:11.7%;}
ul.list_sub_menu li a{color:#000;font-size:12px;font-family:'gotham_mediumregular';font-weight:400;text-transform:uppercase;}
ul.list_sub_menu li span{height: 40px;display:block;font-size:30px;line-height:20px;color:#bc9e67;}
.col-xs-5ths,.col-sm-5ths,.col-md-5ths,.col-lg-5ths{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
.left_right_dash{padding:20px 0px;}
.col-xs-5ths{width:20%;float:left;}
.five_tbl_box{margin:0 -15px;padding:20px 10px;background-color:#ECECEC;}
.five_tbl_box .media a{display:block;font-family:'Source Sans Pro',sans-serif;font-size:16px;font-weight:600;color:#bc9e67;}
.ads .img-responsive{width:100%;}
.rating_list{padding:0;margin:0px;border:solid 1px #d3d3d3;overflow:hidden;}
.rating_list li:nth-child(2){border-right:solid 1px #d3d3d3;border-left:solid 1px #d3d3d3;}
.rating_list li{float:left;list-style:none;width:33.333%;padding:10px 0px;}
.media i{font-size:40px;line-height:40px;text-align:center;color:#bc9e67;}
.five_tbl_box .media small{display:block;font-family:'Source Sans Pro',sans-serif;font-size:16px;font-weight:400;line-height:16px;}
#clockdiv{padding: 5px;color:#fff;display:block;font-family:"Source Sans Pro",sans-serif;font-size:13px;font-weight:300;margin:10px 0px 20px 0px;text-align:center;background-color:#f1eeec;}
#clockdiv .clck{padding:0px;border-radius:3px;display:inline-block;}
#clockdiv .clck span {
    background: transparent;
    border-radius: 3px;
    display: inline-block;
    margin: 0px 5px;
    padding: 0px 10px;
    color: #91d0d8;
    font-size: 17px;
	font-family:"Source Sans Pro",sans-serif;
	font-weight:600;
}
#clockdiv .clck p {
   text-align:center;
    display:block;
    margin: 0px;
    color: #bc9e67;
    font-size: 13px;
	font-family:"Source Sans Pro",sans-serif;
	font-weight:400;
	padding:0px;line-height: 9px;
}
.border-bottom{border-bottom:1px solid #e1e1e1;}
.title_dashobrd h2{color:#bc9e67;font-family:"Source Sans Pro",sans-serif;font-size:28px;font-weight:600;margin:20px 0 5px;text-align:center;text-overflow:ellipsis;overflow:hidden;word-wrap:break-word;width:100%;white-space:nowrap;}
.rating_list .fa{text-align:center;width:100%;border-radius:50%;border:solid 1px #333;height:30px;width:30px;margin:0 auto;display:block;padding:5px 0px;line-height:20px;font-size:15px;}
.rating_list li span{text-align:center;margin:5px 0px;font-size:14px;display:block;}
.rating{margin:0 0 15px;}
.rating_list p{margin:0;text-align:center;font-size:16px;line-height:8px;}
.title_dashobrd p{color:#333;font-family:"Source Sans Pro",sans-serif;font-size:16px;font-weight:400;text-align:center;border-top:solid 2px #d3d3d3;border-bottom:solid 2px #d3d3d3;padding:5px 0px;width:65%;margin:0 auto;display:block;}
.dash_box_main .header{height:115px;overflow:hidden;position:relative;min-height:inherit;}
.providers-name.pure-u-1{display:block;text-align:center;width:100%;margin:0 0 10px;}
.providers-name.pure-u-1 a{font-family:'Source Sans Pro',sans-serif;font-size:16px;font-weight:400;color:#333;}
.clck p{color:#333;font-family:"Source Sans Pro",sans-serif;font-size:16px;font-weight:400;text-align:center;padding:10px 0;margin:0px;}
.no_left_pdg{padding-left:0px;}
.gen-tool-icon.img-responsive{display:block;margin:0px auto;}
.p10 p{text-align:center;font-family:'Source Sans Pro',sans-serif;font-size:16px;font-weight:400;color:#bc9e67;margin:0px;}
.dash_box_main{background-color:#fff;border:1px solid #e1e1e1;border-radius:2px;box-shadow:0 2px 0 0 rgba(0,0,0,0.03);margin-bottom:30px;}
.pure-g-r{letter-spacing:-.31em;*letter-spacing:normal;*word-spacing:-.43em;font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;-webkit-flex-flow:row wrap;display:-webkit-flex}
.opera-only:-o-prefocus,.pure-g-r{word-spacing:-.43em}
.pure-g-r img{max-width:100%;height:auto}
.pure-g-r{letter-spacing:0px;*letter-spacing:normal;*word-spacing:0px;font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;-webkit-flex-flow:row wrap;display:-webkit-flex}
.pure-u-1-3{width:33.3333%;*width:33.3023%}
.bg-dark{background-color:#726A71;color:#FFF}
.com-about-wedding{position:relative}
.com-about-wedding p{font-size:12px;margin-bottom:0}
.com-about-wedding p+a{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px}
.com-about-wedding .com-about-wedding-img{border-radius:500px;width:65px;overflow:hidden;position:relative;margin:0 auto;}
.com-about-wedding .com-about-wedding-img span{width:65px;height:65px;background-image:url(../images/color.png);background-repeat:no-repeat;display:block}
.com-about-wedding .com-about-wedding-img span.empty{background:none 0 0 transparent}
.com-about-wedding .com-about-wedding-img span.empty.fa-question:before{color:#9c9c9c;font-size:45px;top:10px;left:18px;position:absolute}
.com-about-wedding .com-about-wedding-img span.yellow{background-position:0 0}
.com-about-wedding .com-about-wedding-img span.blue{background-position:0 -70px}
.com-about-wedding .com-about-wedding-img span.beige{background-position:0 -140px}
.com-about-wedding .com-about-wedding-img span.white{background-position:0 -210px}
.com-about-wedding .com-about-wedding-img span.golden{background-position:0 -280px}
.com-about-wedding .com-about-wedding-img span.fuchsia{background-position:0 -350px}
.com-about-wedding .com-about-wedding-img span.garnet{background-position:0 -420px}
.com-about-wedding .com-about-wedding-img span.grey{background-position:0 -490px}
.com-about-wedding .com-about-wedding-img span.brown{background-position:0 -561px}
.com-about-wedding .com-about-wedding-img span.purple{background-position:0 -631px}
.com-about-wedding .com-about-wedding-img span.orange{background-position:0 -701px}
.com-about-wedding .com-about-wedding-img span.black{background-position:0 -773px}
.com-about-wedding .com-about-wedding-img span.silver{background-position:0 -1125px}
.com-about-wedding .com-about-wedding-img span.bw{background-position:0 -1055px}
.com-about-wedding .com-about-wedding-img span.red{background-position:0 -845px}
.com-about-wedding .com-about-wedding-img span.pink{background-position:0 -915px}
.com-about-wedding .com-about-wedding-img span.green{background-position:0 -985px}
.com-about-wedding .com-about-wedding-img span.winter{background-position:-70px -70px}
.com-about-wedding .com-about-wedding-img span.autumn{background-position:-70px -210px}
.com-about-wedding .com-about-wedding-img span.spring{background-position:-70px -140px}
.com-about-wedding .com-about-wedding-img span.summer{background-position:-70px 0}
.com-about-wedding .com-about-wedding-img span.open{background-position:-140px -140px}
.com-about-wedding .com-about-wedding-img span.country{background-position:-140px -70px}
.com-about-wedding .com-about-wedding-img span.night{background-position:-140px -350px}
.com-about-wedding .com-about-wedding-img span.elegant{background-position:-140px -210px}
.com-about-wedding .com-about-wedding-img span.beach{background-position:-140px -280px}
.com-about-wedding .com-about-wedding-img span.modern{background-position:-140px 0}
.com-about-wedding .com-about-wedding-img span.rustic{background-position:-140px -560px}
.com-about-wedding .com-about-wedding-img span.vintage{background-position:-140px -420px}
.com-about-wedding .com-about-wedding-img:before{border-radius:500px;-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);box-shadow:inset 0 0 10px rgba(0,0,0,.4);content:'';width:100%;height:100%;top:0;left:0;position:absolute;display:block}
.com-about-wedding .droplayer.com-about-wedding-layer{padding:15px 15px 10px;top:90px;left:20px}
.com-about-wedding .droplayer.com-about-wedding-layer.right{left:-290px}
.com-about-wedding .droplayer.com-about-wedding-layer.right:after,.com-about-wedding .droplayer.com-about-wedding-layer.right:before{left:343px}
.com-about-wedding .droplayer.com-about-wedding-layer.season.right{left:-225px}
.com-about-wedding .droplayer.com-about-wedding-layer.season.right:after,.com-about-wedding .droplayer.com-about-wedding-layer.season.right:before{left:290px}
.com-about-wedding .droplayer.com-about-wedding-layer ul{line-height:0;padding:0px;}
.com-about-wedding .droplayer.color{width:425px}
.com-about-wedding .droplayer.season{width:330px}
.com-about-wedding .droplayer.style{width:400px}
.com-about-wedding .droplayer.color li,.com-about-wedding .droplayer.season li,.com-about-wedding .droplayer.style li{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin:5px 0;cursor:pointer;text-align:center;vertical-align:baseline}
.com-about-wedding .droplayer.color li:hover,.com-about-wedding .droplayer.season li:hover,.com-about-wedding .droplayer.style li:hover{filter:alpha(Opacity=50);opacity:.5}
.com-about-wedding .droplayer.color li div,.com-about-wedding .droplayer.season li div,.com-about-wedding .droplayer.style li div{margin:0 10px}
.com-about-wedding .droplayer.color li small,.com-about-wedding .droplayer.season li small,.com-about-wedding .droplayer.style li small{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin-top:5px;width:90%;display:block;text-align:center}
.com-about-wedding .fa-pencil{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:500px;border:1px solid #444;bottom:5px;left:70px;font-size:13px;padding:0 9px;background:#fff;width:30px;height:30px;line-height:28px;position:absolute;cursor:pointer}
.com-about-wedding .fa-pencil:hover{color:#bc9e67;border:1px solid #bc9e67;}
.dnone.dnone{display:none}
.dropdown-show-pone-container{position:relative}
.dropdown-show-phone{border:1px solid #D9D9D9;border-radius:3px;padding:15px;min-width:320px;background:#FFF;text-align:center;box-sizing:border-box;z-index:99;font-weight:400;color:#2B2B2B;left:50%;top:10px;position:absolute;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%)}
.dropdown-show-phone:after,.dropdown-show-phone:before{content:"";left:50%;border-width:10px;border-style:solid;display:block;position:absolute}
.dropdown-show-phone:after{top:-19px;border-color:transparent transparent #FFF}
.dropdown-show-phone:before{top:-20px;border-color:transparent transparent #D9D9D9}
.dropdown-show-phone-tag{padding:10px;border-radius:3px;background:#FBF3D9;font-size:13px}
.dropdown-show-phone-tag strong{margin-left:5px;font-size:16px;letter-spacing:1px}
.dropdown-show-phone-description{font-size:14px;line-height:22.65247586px;margin:0;color:#666;font-weight:300}
.select-combo{display:inline-block;vertical-align:middle;position:relative;width:inherit!important}
.droplayer{border:1px solid #D9D9D9;border-radius:3px;box-shadow:0 3px 4px 0 rgba(0,0,0,.15);width:100%;top:50px;left:0;z-index:900;background:#FFF;padding:15px;position:absolute;text-align:left}
.droplayer:after,.droplayer:before{content:"";border-width:10px;border-style:solid;padding:0;height:0;width:0;left:18px;position:absolute}
.droplayer:before{top:-21px;border-color:transparent transparent #D9D9D9}
.droplayer:after{top:-19px;border-color:transparent transparent #FFF}
.droplayer.droplayer-small{width:200px}
.droplayer.droplayer-normal{width:400px}
.droplayer.droplayer-medium{width:500px}
.droplayer.droplayer-large{width:600px}
.droplayer.droplayer-extralarge{width:700px}
.droplayer.droplayer-full{width:900px}
.droplayer li{font-size:12px}
.droplayer li.selected{background-color:#FFF6F6}
.droplayer li.selected a,.droplayer li.selected span{font-weight:600;color:#F76C6F}
.droplayer li.droplayer-all{background:#F9F9F9;margin-bottom:10px;border-bottom:0;clear:both;display:block;float:none;width:inherit;text-align:center}
.droplayer li.droplayer-all:hover{background-color:#F0F0F0;cursor:pointer}
.droplayer li.droplayer-all a{display:block;text-align:center}
.droplayer li.droplayer-all a span{display:inline-block;vertical-align:middle;color:#2B2B2B;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:11px;font-weight:600;text-transform:uppercase;float:none}
.droplayer li.droplayer-all a span:after{color:#666;border:1px solid #666;border-radius:50px;margin-left:5px;height:16px;width:16px;line-height:16px;text-align:center}
.droplayer .footer,.droplayer footer{border-top:1px solid #D9D9D9;padding-top:10px;text-align:left}
.droplayer p.title{font-size:12px}
.droplayer .loading span{padding:10px;display:block}
.droplayer.droplayer-scroll{top:50px;padding:0;margin-top:-8px}
.droplayer.droplayer-scroll .column-container,.droplayer.droplayer-scroll .loading{padding:10px;display:block}
.droplayer.droplayer-scroll ul{max-height:250px;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch}
.droplayer.droplayer-scroll li.suggest-navigation{padding:3px 5px;font-size:12px;font-weight:400;border-left:0;border-right:0;border-top:0;border-bottom:1px solid #e0e0e0;cursor:pointer}
.droplayer.droplayer-scroll li.suggest-navigation:last-child{border-bottom:0}
.droplayer.droplayer-scroll li.suggest-navigation .matching-text{color:#F76c6f}
.droplayer-filter{padding:0}
.droplayer-filter li{border-bottom:1px solid #D9D9D9;padding:5px;margin:0 5px}
.droplayer-filter li.last{border:0}
.droplayer-filter li a{width:100%}
.droplayer-filter li a span{float:right}
.SelectorOptions.droplayer{padding:10px 0 10px 8px}
.SelectorOptions.droplayer.one-column-result{box-shadow:0 1px 2px rgba(0,0,0,.2);width:350px}
.droplayer-column{box-sizing:border-box;border-left:1px solid #D9D9D9;padding:10px 10px 0;width:33%;float:left}
.droplayer-column li.setGeozona{padding:2px 15px 2px 30px;position:relative}
.droplayer-column li.setGeozona:before{content:"";background:#EEE;width:1px;height:28px;top:0;left:1px;display:block;position:absolute}
.droplayer-column li.setGeozona a{color:#8C8C8C}
.droplayer-column li.setProvincia{padding:2px 15px;position:relative}
.droplayer-column li.setProvincia:before{content:"";background:#EEE;width:1px;height:28px;top:0;left:1px;display:block;position:absolute}
.droplayer-column li.setGeozona span,.droplayer-column li.setProvincia span,.droplayer-column li.setRegion span{color:#F76c6f;font-size:10px;padding:3px;line-height:12px;margin-top:3px;float:right}
.droplayer-column li.setRegion~.setProvincia{box-sizing:border-box;padding:0 0 0 10px!important;width:100%;overflow:hidden}
.droplayer-column li.setRegion~.setProvincia:before{display:none}
.droplayer-column li.setRegion~.setProvincia a{padding:0}
.droplayer-column:first-child{border-left:0}
.droplayer-column:first-child li.setProvincia{padding:2px 5px}
.droplayer-column:first-child li.setProvincia:before{display:none}
.droplayer-column:first-child li.setGeozona{padding:2px 5px 2px 15px}
.droplayer-column:first-child li.setGeozona:before{display:none}
.droplayer.multi-column .box-scroll.column-container .droplayer-column{border:0}
.droplayer.multi-column .box-scroll.column-container li:last-child{border-bottom:0}
.droplayer.multi-column .setRegion{font-weight:600}
.dropdown-ui{display:inline-block;vertical-align:middle;cursor:pointer;position:relative;margin-bottom:0}
.dropdown-ui ul:hover,.dropdown-ui:hover ul{display:block}
.dropdown-ui span{display:inline-block;vertical-align:middle;padding:5px 10px;font-weight:400}
.dropdown-ui ul{border-radius:0 0 3px 3px;display:none;position:absolute;left:-1px;top:30px;z-index:150}
.dropdown-ui ul a,.dropdown-ui ul small{color:#2B2B2B;border-top:1px solid #D9D9D9;display:block;padding:5px 10px;font-size:12px;font-weight:400;white-space:nowrap}
.dropdown-ui ul a:hover,.dropdown-ui ul small:hover{color:#F76c6f}
.dropdown-ui ul .active{color:#2B2B2B;font-weight:600;cursor:default}
.dropdown-ui ul .active:hover{color:#2B2B2B}
.dropdown-ui ul li:first-child a,.dropdown-ui ul li:first-child small{border-top:0}
.dropdown-ui li i,.dropdown-ui span i{font-size:15px;margin-right:10px}
.dropdown-ui .fa-chevron-down{display:inline-block;vertical-align:middle;color:#F76c6f;border-left:1px solid #D9D9D9;padding:6px 9px}
.dropdown-ui .fa-envelope-o{color:#666}
.dropdown-ui .fa-envelope-o.orange{color:#FFAA72}
.dropdown-ui .fa-share-square{color:#44C4F3}
.dropdown-ui .fa-times-circle-o{color:#F76c6f}
.dropdown-ui .fa-check-square-o{color:#40DDC5}
.drop-wrapper,.droplayer-payment-config{position:relative}
.droplayer-payment-config .droplayer{top:40px;left:-165px}
.droplayer-payment-config .droplayer:after,.droplayer-payment-config .droplayer:before{left:165px}
.droplayer-payment-config .droplayer li{text-align:left}
.droplayer-payment-config .droplayer li:first-child a{border:0}
.droplayer-payment-config .droplayer li a{border-top:1px solid #E1E1E1;padding:5px 10px;font-size:12px;font-weight:400;color:#444;display:block}
.ul.pure-g-r{padding:0px;}
.pb15{padding-bottom:15px;}
.pure-u-1{width:100%;}
.mainTools .text-center span{padding:5px 0;font-weight:600;display:block;}
.pt20{padding-top:20px;}
.p10{padding:10px;padding-top:10px;}
.com-about-wedding{position:relative;}
.droplayer-payment-config .droplayer li a i{margin-right:10px;color:#444}
.droplayer-payment-config .droplayer li a .fa-trash-o{color:#F76c6f}
#filtersInvitations .droplayer-small.droplayer-filterby .droplayer-column{width:100%}
.droplayer.droplayer-scroll .suggest-search-vendor{padding:5px 0}
.droplayer.droplayer-scroll .suggest-search-vendor li.suggest-navigation{font-family:"Merriweather Sans",Arial,sans-serif;padding:5px 15px;border-bottom:1px solid #efefef}
.droplayer.droplayer-scroll .suggest-search-vendor li.suggest-navigation span.suggest-navigation-content{color:#8C8C8C;display:inline-block;font-weight:300}
.sub_menufullwidth{background-color:#f9f9f9;}
.five_tbl_box .col-md-5ths:first-child{margin-left:0px;}
.five_tbl_box .col-md-5ths:last-child{margin-right:0px;}
.hdr{width:100%;height:50px;text-align:center;font-size:28px;position:relative;}
.hdr:after{content:'';width:100%;border-bottom:solid 1px #333;position:absolute;left:0;top:50%;z-index:1;}
.hdr h2{background-color:#fff; /* Same as the parents Background */width:auto;display:inline-block;z-index:3;padding:0 20px 0 20px;color:#333;position:relative;font-family:calibri;font-weight:lighter;margin:0;font-family:'Source Sans Pro',sans-serif;font-size:16px;font-weight:400;}
.choos_color .widget.box,.email_notify .box{border-radius:2px;-moz-box-shadow:0 2px 0 0 rgba(0,0,0,.03);-webkit-box-shadow:0 2px 0 0 rgba(0,0,0,.03);box-shadow:0 2px 0 0 rgba(0,0,0,.03);background-color:#fff;border:1px solid #e1e1e1;}
.widget-inbox .widget-inbox-header{border-bottom:1px solid #e1e1e1;padding:15px 10px;text-transform:uppercase;text-align:center;font-family:'Source Sans Pro',sans-serif;font-size:16px;font-weight:400;color:#333;}
.widget-inbox-date{font-family:'Source Sans Pro',sans-serif;font-size:14px;font-weight:400;color:#333;}
.widget-inbox-info  a{font-family:'Source Sans Pro',sans-serif;font-size:14px;font-weight:400;color:#bc9e67;}
.widget li,.widget ul{margin:0;}
.widget .footer,.widget footer{border-top:1px solid #e1e1e1;padding:10px 15px;background-color:#f9f9f9;}
.footer.more{background-color:#f9f9f9;border-top:1px solid #e1e1e1;padding:10px;text-align:right;}
.widget-inbox .widget-inbox-content li:first-child{border-top:0;}
.widget-inbox .widget-inbox-content li.new{box-shadow:inset 5px 0 0 0 #ffd18a;background:#fffbf4;}
.widget-inbox .widget-inbox-content li{border-top:1px solid #e1e1e1;padding:10px 15px;}
.pl5{padding-left:5px;}
.pure-u-6-7{width:85.7142%;*width:85.6942%;}
.pure-u-1-7{width:14.2857%;*width:14.2657%;}
.widget figure{position:relative;}
.widget li,.widget ul{margin:0;padding:0px;}
.pure-g{letter-spacing:0em;*letter-spacing:normal;*word-spacing:0em;text-rendering:optimizespeed;font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;-webkit-flex-flow:row wrap;flex-flow:row wrap;display:-webkit-flex;display:flex;}
ul li{list-style:none;font-size:14px;line-height:23.8px;}
section.slider img{margin:0 auto;display:block;}
section.regulargg.slider img{margin:0 auto;display:block;width:80%;border:solid 1px #d3d3d3;padding:10px 15px;}
.atb_containr .fa{font-size:18px;line-height:20px;float:none;display:inline-block;padding:0 5px;}
.slid_con_box h2{font-family:'Source Sans Pro',sans-serif;color:#333;font-size:24px;font-weight:600;float:left;margin:5px 0px;line-height:30px;margin-right:10px;}
.btnlgn{background-color:#bc9e67;color:#fff;margin:5px 0px;border:solid 1px #bc9e67;}
.btnlgn:hover{opacity:0.9;background-color:#bc9e67;border:solid 1px #bc9e67;color:#fff;}
.btnlgn:focus,.btnlgn:active{background-color:#bc9e67;color:#fff;margin:5px 0px;border:solid 1px #bc9e67;}
.atb_containr .media{padding:0 15px;}
.slick-slide.slick-current.slick-active.slick-center img{background-color:rgba(188,158,103,0.4);border:solid 1px rgba(188,158,103,1);}
.slid_con_box{padding:20px 0px 0px;}
.itm_sldr{padding:20px 0px;}
.regular .media-body h3{margin:0 0 0px;font-size:24px;font-weight:600;font-family:'Source Sans Pro',sans-serif;color:#333;}
.slid_con_box{background-color:#fbfbfb;}
.atb_containr{border-radius:2px;-moz-box-shadow:0 2px 0 0 rgba(0,0,0,.03);-webkit-box-shadow:0 2px 0 0 rgba(0,0,0,.03);box-shadow:0 2px 0 0 rgba(0,0,0,.03);background-color:#fff;border:1px solid #e1e1e1;margin-bottom:15px;padding:25px 0px;}
.regular .media-body h4{margin:0 0 5px;font-size:18px;font-weight:400;font-family:'Source Sans Pro',sans-serif;color:#444;}
section.choos_color,section .email_notify{padding:0px 0px;}
section.slider.regulargg{padding:10px 0px;-moz-box-shadow:0 2px 0 0 rgba(0,0,0,.03);-webkit-box-shadow:0 2px 0 0 rgba(0,0,0,.03);box-shadow:0 2px 0 0 rgba(0,0,0,.03);background:#fff;margin:0 0 10px;}
.box-secondary,.unit-secondary{padding:10px;}
section.choos_color .title{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-family:'Source Sans Pro',sans-serif;font-size:18px;font-weight:400;}
footer.aftlgn{background-color:rgba(0,0,0,0.7);min-height:350px;font-family:'Open Sans',sans-serif;}
.footerleft{margin-top:50px;padding:0 36px;}
.logofooter{margin-bottom:10px;font-size:25px;color:#fff;font-weight:700;}
.footerleft p{color:#fff;font-size:12px!important;font-family:'Open Sans',sans-serif;margin-bottom:15px;}
.footerleft p i{width:20px;color:#999;}
.paddingtop-bottom{margin-top:50px;}
.footer-ul{list-style-type:none;padding-left:0px;margin-left:2px;}
.footer-ul li{line-height:29px;font-size:14px;}
ul.unstyled li span{display:inline-block;font-size:14px;line-height:24px;color:#333;font-weight:400;padding:0 0 0px 5px;}
ul.unstyled{padding:0px;}
.selectbbn .btn-group.bootstrap-select.show-tick{border:solid 1px #bc9e67;}
ul.unstyled li:hover span{color:#bc9e67;}
.footer-ul li a{color:#d1cece;transition:color 0.2s linear 0s,background 0.2s linear 0s;}
.footer-ul i{margin-right:10px;}
.footer-ul li a:hover{transition:color 0.2s linear 0s,background 0.2s linear 0s;color:#bc9e67;}
.social:hover{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);}
.icon-ul{list-style-type:none!important;margin:0px;padding:0px;}
.icon-ul li{line-height:75px;width:100%;float:left;}
.icon{float:left;margin-right:5px;}
.copyright{min-height:40px;background-color:#000000;}
.copyright p{text-align:left;color:#FFF;padding:10px 0;margin-bottom:0px;}
.heading7{font-size:21px;font-weight:700;color:#d9d6d6;margin-bottom:22px;}
.post p{font-size:12px;color:#FFF;line-height:20px;}
.post p span{display:block;color:#8f8f8f;}
.bottom_ul{list-style-type:none;float:right;margin-bottom:0px;}
.bottom_ul li{float:left;line-height:40px;}
.bottom_ul li:after{content:"/";color:#FFF;margin-right:8px;margin-left:8px;}
.bottom_ul li:last-child:after{content:"";color:#FFF;margin-right:8px;margin-left:8px;}
.bottom_ul li a{color:#FFF;font-size:12px;}
.bottom_ul li a:hover{color:#bc9e67;}
.appimg{margin:5px 0px;}
.top_footer_box{padding:20px 0px;background-color:#ECECEC;}
.unstyled a{font-family:'Source Sans Pro',sans-serif;font-size:14px;font-weight:400;color:#333;line-height:28px;}
.unstyled a:hover{color:#bc9e67;}
.unstyled h3{font-family:'Source Sans Pro',sans-serif;font-size:18px;font-weight:600;color:#333;}
@media (min-width:768px){
	.five_tbl_box .col-md-5ths{background:#fff;border:1px solid #d3d3d3;float:left;margin:0 5px;padding:10px 15px;width:19.30%;}
}
@media (min-width:992px){
	.five_tbl_box .col-md-5ths{background:#fff;border:1px solid #d3d3d3;float:left;margin:0 5px;padding:10px 15px;width:19.30%;}
}
@media (min-width:1200px){
	.five_tbl_box .col-md-5ths{background:#fff;border:1px solid #d3d3d3;float:left;margin:0 5px;padding:10px 15px;width:19.30%;}
}

/* Tablet and bigger */
@media (min-width:768px){
	.grid-divider{position:relative;padding:0;}
	.grid-divider>[class*='col-']{position:static;}
	.grid-divider>[class*='col-']:nth-child(n+2):before{content:"";border-left:1px solid #DDD;position:absolute;top:0;bottom:0;}
	.col-padding{padding:0 15px;}
}

/* sub page*/
.fa.fa-chevron-right.pull-right{position:relative;bottom:30px;}
.list_dashbord a{display:block;}
.list_dashbord h3{font-family:'Source Sans Pro',sans-serif;font-size:16px;font-weight:400;color:#333;line-height:16px;margin:5px 0px;display:inline;}
.list-group-item:hover{background-color:rgba(188,158,103,1);}
.list-group-item:hover a{color:#fff;}
.list-group-item:hover h3{color:#fff;}
.list-group-item:hover span{color:#fff;}
.list-group-item:hover .fa.fa-chevron-right.pull-right{color:#fff;}
.list_dashbord span{font-family:'Source Sans Pro',sans-serif;font-size:12px;font-weight:400;color:#333;line-height:16px;margin:5px 0px;display:block;}
.fa.fa-chevron-right.pull-right{color:rgba(188,158,103,1);}
.list_dashbord .panel-default > .panel-heading{text-align:center;font-weight:600;font-family:'Source Sans Pro',sans-serif;font-size:16px;color:#fff;background-color:rgba(188,158,103,0.7);}
/* contact */
#exTab1 .tab-content{color:white;background-color:#428bca;padding:5px 15px;}
#exTab1 .nav-pills > li > a{border-radius:0;color:#333;}
#exTab1 .nav-pills > li.active > a,#exTab1 .nav-pills > li.active > a:focus,#exTab1 .nav-pills > li.active > a:hover{background-color:#bc9e67;color:#fff;}
.contatcs{padding:20px 0px;}
section.contatcs .nav.nav-pills.pull-right{border:solid 1px #d3d3d3;border-bottom:none;}
section.contatcs h3{line-height:40px;margin:0px;font-size:24px;}
section.contatcs .pure-s-secondary{margin-right:0px;}
section.contatcs .pure-u-1-2{width:49%;}
section.contatcs #data-container.mt10 {
    width: 96.8%;
    margin: 10px 0 0 15px;
   
}
section.bbgd #resume-boxes .box.box-rsvp.box-hero-stats,section.bbgd #resume-boxes .box.box-tables.box-hero-stats,section.bbgd #resume-boxes .box.box-guests.box-hero-stats{margin:0px;}
#filtersGuests .app-input-search-guests {
    padding-right: 35px;
    font-size: 14px;
    height: 35px;
    padding: 0 35px 0 10px;
}
section.contatcs #resume-boxes .pure-u-1-2{width: 50%;
padding: 0 10px;}
section.contatcs .nav-pills > li + li,section.contatcs .nav-pills > li{border-bottom:medium none;border-right:1px solid #d3d3d3;margin-left:0px;}
section.contatcs .nav-pills > li:last-child{border-right:none;}
section.contatcs .tab-content{background-color:#fff;border:1px solid #e1e1e1;border-radius:2px;box-shadow:0 2px 0 0 rgba(0,0,0,0.03);margin-bottom:0px;}
section.contatcs .right-inner-addon{position:relative;}
section.contatcs .right-inner-addon input{padding-right:30px;}
section.contatcs .right-inner-addon i{position:absolute;right:0px;padding:10px 12px;pointer-events:none;}
section.contatcs .searchbox{background:#f1f1f1 none repeat scroll 0 0;border-bottom:1px solid #e1e1e1;padding:15px;}
section.contatcs #exTab1{margin-right:-15px;}
section.contatcs .invite_box{padding:15px;}
section.contatcs .left_tabs{padding:0;}
section.contatcs .right_tabs{border-left:1px solid #d3d3d3;}
section.contatcs .media-object{border:1px solid #d3d3d3;display:block;}
section.contatcs .media-heading{margin:5px 0 0px;font-size:16px;color:#333;font-family:'Source Sans Pro',sans-serif;}
section.contatcs .media-body > p{font-size:12px;margin:0;color:#bc9e67;font-family:'Source Sans Pro',sans-serif;}
section.contatcs .right_tabs .font-primary{color:#333;font-size:16px;font-family:'Source Sans Pro',sans-serif;}
section.contatcs .right_tabs .fs12{color:#bc9e67;font-size:16px;font-family:'Source Sans Pro',sans-serif;}
section.contatcs .right_tabs h3{color:#333;font-size:18px;font-family:'Source Sans Pro',sans-serif;margin:0px;}
section.contatcs .right_tabs a{color:#bc9e67;font-size:16px;font-family:'Source Sans Pro',sans-serif;margin:0px;}
section.contatcs .right_tabs .font-base a{color:#bc9e67;font-size:16px;font-family:'Source Sans Pro',sans-serif;}
.pure-u-1.pb5.font-base.color-secondary{color:#444;}
section.contatcs .box_right_cntc{border-bottom:1px solid #d3d3d3;padding:20px 0;}
section.contatcs .box_right_cntc:last-child{border-bottom:none;}

.blogin{width:35%;}
.calendr{background-image:url(../images/cal.png);background-repeat:no-repeat;display:block;width:31px;height:31px;margin:10px auto;}
.man_bg{background-image:url(../images/booy.png);background-repeat:no-repeat;display:inline-block;width:138px;height:130px;margin:10px auto 0;}
.woman_bg{background-image:url(../images/girll.png);background-repeat:no-repeat;display:inline-block;width:138px;height:130px;margin:10px auto 0;}
.web_banner h6{color:#91d0d8;font-family:'Source Sans Pro',sans-serif;font-weight:400;font-size:18px;margin:5px 0px;text-align:center;display:block;}
.boy_box{float:left;}
.gl_box{float:left;}
.and_text{float:left;font-size:84px;font-family: 'BauerBodoniStd-Roman';color:#fff;line-height: 140px;
margin: 0 50px;}
.web_banner .il{color: #fff;
font-size: 40px;
font-family: 'MonotypeCorsiva';
text-align: center;
display: block;
line-height: 40px;}
.profile_box small {
    text-align: center;
    display: block;
    margin: 0px auto 10px;
    color: #fff;font-family:'Source Sans Pro',sans-serif;font-weight:400;font-size:18px;
}
.profile_box {
    margin: 0 auto;
    display: block;
    width: 450px;
}