.modal-bannerLogo {
    border-radius: 3px 3px 0 0;
    padding: 20px 30px 20px 145px;
    background: #FFF2E8 url(bg_modal_initplanner.svg) no-repeat 35px 20px;
}
.modal-header {
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
}
.FIrstText{
font-size:13px;
text-transform: uppercase;
margin: 0;
    padding: 15px;
}
.border-bottom{
border-bottom: 1px solid #e1e1e1;
}
.modal-body {
    position: relative;
    padding: 0 0 15px 0;
}
.modal-dialog {
    width: 55%;
    margin: 30px auto;
}
.CustomRow{
    padding:15px 35px;
	}
label {
    font-weight: 600;
    font-size: 13px;
}
.SecSectionText h3{
    font-size: 13px;
    padding: 15px;
    margin: 0;
    background-color:#f9f9f9;
    border-top: 1px solid #e1e1e1;
       border-bottom: 1px solid #e1e1e1;
text-transform: uppercase;
}
.SelectDrop{
    font-size: 14px;
    width: 100%!important;
    text-indent: .01px;
    margin: 0;
    display: inline-block;
    border: 0;
    cursor: pointer;
    user-select: none;
    /* -webkit-appearance: none; */
 border: 1px solid #e1e1e1;
border-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
}
.border-top{
   border-top: 1px solid #e1e1e1;
}
.SaveBrn{
background-color: #f76c6f;
    box-shadow: 0 2px 0 0 #B65052;
    color: #FFF;
    line-height: 2.1;
}
.imgText a,.ViewBtn a{
    text-decoration: none;
    color: #f76c6f;
}
.ViewBtn small{
    margin-left: 17px;
}
.CheckB{    padding: 10px 30px;}
input[type="checkbox"]{
    width: 17px;
    height: 17px;
}
.currency{
position: absolute;
    left: 0;
    top: 30px;
    left: 5px;
}